header{
	position: sticky;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 2rem;
	/*text-shadow: 1px 1px 10px snow;*/
	text-align: left;
	background-color: #2d2d2d80;
	background-image: url('./Header_pic.jpg');
	background-size: cover;
	background-blend-mode: luminosity;
	background-position: center;
	border-bottom: 1px solid #2d2d2dfa;
	width: 100%;
	height: 20vh;
	padding: 10px;

	h1{
		padding-left: 50px;
	}
}

